<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Random students</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Случайный опрос </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-info" href="#" th:href="@{/students}"> На главную </a>
            <form action="#" class="form-horizontal"
                  th:action="@{/students/set-score}"
                  th:object="${studentPair}"
                  method="post">
                <fieldset>
					<span class="pull-right">
						    <input type="submit" id="submitButton" class="btn btn-success" th:value="Дальше">
					</span>
                    <table class="table">
                        <thead>
                        <tr>
                            <th> Задаёт вопрос:</th>
                            <th> Отвечает на вопрос:</th>
                        </tr>

                        </thead>
                        <tbody>

                        <tr>
                            <h4>
                                <td th:each="student : ${studentPair.pair}">
                                    <p><a th:text="${student}"></a></p>
                                    <p><a th:text="${'Команда ' + student.getTeam()}"></a></p>
                                </td>
                            </h4>
                        </tr>

                        <tr th:each="student, itemStat : ${studentPair.pair}">
                            <td><input hidden th:name="|pair[${itemStat.index}].id|" th:value="${student.getId()}"/>
                            </td>
                            <td><input hidden th:name="|pair[${itemStat.index}].name|" th:value="${student.getName()}"/>
                            </td>
                            <td><input hidden th:name="|pair[${itemStat.index}].surname|"
                                       th:value="${student.getSurname()}"/></td>
                            <td><input hidden th:name="|pair[${itemStat.index}].captain|"
                                       th:value="${student.isCaptain()}"/></td>

                            <td>
                                <span th:if="${itemStat.first} == true">
                                    <label for="questionScore">Оценка за вопрос: </label>
                                    <input th:placeholder="'Оценка за вопрос: ' + ' ' + ${itemStat.count}"
                                           th:name="|pair[${itemStat.index}].questionScore|"
                                           th:value="0" id="questionScore"
                                           required/>
                                    <input hidden th:name="|pair[${itemStat.index}].answerScore|"
                                           th:value="0"/>
                                </span>
                                <span th:if="${itemStat.last} == true">
                                    <input hidden th:name="|pair[${itemStat.index}].questionScore|"
                                           th:value="0"/>
                                    <label for="answerScore">Оценка за ответ: </label>
                                    <input th:placeholder="'Оценка за ответ:' + ' ' + ${itemStat.count}"
                                           th:name="|pair[${itemStat.index}].answerScore|"
                                           th:value="0" id="answerScore"
                                           required/>
                                </span>
                            </td>

                            <td><input hidden th:name="|pair[${itemStat.index}].team|" th:value="${student.getTeam()}"/>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</div>